.small-aboutus {
    margin-top: 40px;
    padding-left: 100px;
    color: black;
    padding: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .left-aboutus {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  .right-aboutus {
    display: flex;
    padding-left: 20px;
    padding-right: 100px;
    flex-direction: column;
    width: 50%;
    justify-content: center;
  }

  .right-aboutus p:first-child{
    font-size: 30px;
  }
  
  .right-aboutus p{
    margin-bottom: 10px;
  }

  .two-p-aboutus {
    padding-right: 130px;
    font-size: 30px;
    font-weight: bolder;
  }

  .card-aboutus {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .card-aboutus p{
    font-size: 20px;
  }

  @media screen and (max-width: 1300px) {
    .small-aboutus {
      flex-direction: column;
      padding: 40px;
    }

    .left-aboutus {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
    }

    .left-aboutus img{
      align-self: center;
      padding: 0;
      width: 100%;
    }
    .right-aboutus {
      margin-top: 20px;
      display: flex;
      padding-right:40px;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
    }
    .two-p-aboutus {
      padding-right: 0px;
      align-self: center;
      font-size: 30px;
      font-weight: bolder;
    }
    .right-aboutus p {
      align-items: center;
      justify-content: center;
      font-size: 18px;
    }
  }

