
.footer {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(4, 3fr); 
    gap: 30px;
    padding: 60px;
    height: 500px;
    background-color: rgb(0, 33, 65);
    color: white;
}

.footer-logo {
    grid-column: 1 /2;
}

.footer-logo p{
    margin-top: 60px;
    font-size: large;
}

.footer-links-left {
    grid-column: 2 / 3; 
    display: flex;
    flex-direction: column;
}

.footer-links-left p{
    font-size: larger;
}

.footer-links-left button{
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    background-color: rgb(0, 33, 65);
    color: white;
    border: none;
    border-radius: 5px;
    text-align: left;
    font-size: large;
}

.footer-links-right {
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column; 
}

.footer-links-right p{
    font-size: larger;
}

.footer-links-right button{
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    background-color: rgb(0, 33, 65);
    color: white;
    border: none;
    border-radius: 5px;
    text-align: left;
    font-size: large;
}

.footer-newsletter {
    grid-column: 4/5;
}

.footer-newsletter p:nth-of-type(1){
    font-size: 20px;
}

.p-our-line {
    border-top: 2px solid aliceblue;
    width: 100%;
}
.newsletter-input {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.newsletter-input input {
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.newsletter-input span {
    cursor: pointer;
    font-size: 25px;
}

.footer-social ul {
    list-style: none;
    margin-top: 10px;
    display: flex;
    font-size: 30px;
    gap: 20px;
}

.footer-social li {
    display: inline-block;
}

.footer-social a {
    color: white;
    text-decoration: none;
}

.footer-social a:hover {
    color: #ff5733;
}

.footer-company button,
.footer-support button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    text-align: left;
}

.footer-company button:hover,
.footer-support button:hover {
    color: #ff5733;
}


@media screen and (max-width: 750px) {
    .footer {
        display: flex; 
        flex-direction: column;
        gap: 50px;
        padding: 10px;
        height: 1300px;
    }
}

